:root {
    --matrix-logo: url("https://matrix.org/images/matrix-logo.svg");
    --github-logo: url("https://raw.githubusercontent.com/dkanada/frost/e3dc5726bf84e7450511b700e2e0f7cfce8296ec/icons/github.svg");
    --brave-logo: url("https://raw.githubusercontent.com/dkanada/frost/e3dc5726bf84e7450511b700e2e0f7cfce8296ec/icons/brave.svg");
    --fdroid-logo: url("https://raw.githubusercontent.com/dkanada/frost/e3dc5726bf84e7450511b700e2e0f7cfce8296ec/icons/fdroid.svg");
    --signal-logo: url("https://raw.githubusercontent.com/dkanada/frost/e3dc5726bf84e7450511b700e2e0f7cfce8296ec/icons/signal.svg");
    --element-logo: url("https://raw.githubusercontent.com/dkanada/frost/e3dc5726bf84e7450511b700e2e0f7cfce8296ec/icons/element.svg");
    --bitwarden-logo: url("https://raw.githubusercontent.com/dkanada/frost/e3dc5726bf84e7450511b700e2e0f7cfce8296ec/icons/bitwarden.svg");
    --tor-logo: url("https://raw.githubusercontent.com/dkanada/frost/e3dc5726bf84e7450511b700e2e0f7cfce8296ec/icons/torbrowser.svg");
    --protonmail-logo: url("https://raw.githubusercontent.com/dkanada/frost/e3dc5726bf84e7450511b700e2e0f7cfce8296ec/icons/protonmail.svg");
    --tutanotamail-logo: url("https://raw.githubusercontent.com/dkanada/frost/e3dc5726bf84e7450511b700e2e0f7cfce8296ec/icons/tutanota.svg");
    --mega-logo: url("https://raw.githubusercontent.com/dkanada/frost/e3dc5726bf84e7450511b700e2e0f7cfce8296ec/icons/mega.svg");
    --protonvpn-logo: url("https://raw.githubusercontent.com/dkanada/frost/e3dc5726bf84e7450511b700e2e0f7cfce8296ec/icons/protonvpn.svg");
    --linux-logo: url("https://www.pinclipart.com/picdir/middle/546-5468989_penguins-clipart-stencil-linux-black-and-white-png.png");
    --netguard-logo: url("https://raw.githubusercontent.com/dkanada/frost/e3dc5726bf84e7450511b700e2e0f7cfce8296ec/icons/netguard.svg");
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Courier New", Courier, monospace;
    font-size: 2.3vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}


/* ###################### */

.center {
    width: fit-content;
}

.profile-image {
    width: 45vw;
    height: 45vw;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    background-image: url(assets/profile.jpg);
    display: inline-block;
}

.inverted-svg {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    filter: brightness(10000);
    -webkit-filter: brightness(10000);
}

.contact-logo {
    height: 60px;
    display: inline-block;
    padding: 10px;
}


/* ###################### */

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.full-screen-page {
    height: 95vh;
    width: 100%;
    position: relative;
}

.what-i-use-flexbox {
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.what-i-use-flexbox img {
    margin: none;
    width: 20vw;
    height: auto;
    padding: 5vw;
    padding-top: none;
    padding-bottom: none;
}

.what-i-use-flexbox a {
    text-align: center;
}

.app-titles {
    color: cadetblue;
}

#v-page-3 {
    min-height: 95vh;
    height: auto;
}

@media screen and (min-width: 768px) {
    .profile-image {
        height: 40vh;
        width: 40vh;
    }
    body {
        font-size: 1em;
    }
    .contact-logo {
        height: 100px;
    }
    .full-screen-page {
        height: 95vh;
        width: 100%;
    }
    .what-i-use-flexbox {
        direction: row;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: none;
    }
    .what-i-use-flexbox img {
        height: 120px;
        width: auto;
        margin: 20px;
        padding: auto;
    }
}