body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;

}

.profileImage {
  margin-top: 10%;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  background-image: url(assets/profile.jpg);
}

.center {
  display: flex;
  justify-content: center;
}
